<h1><%= @category.name %></h1>
<table>
	<% @products.each do |product| %>
		<tr>
			<td><%= link_to "#{product.name}", product %></td>
			<td>
			<%= form_tag :controller => :order, :action => :add, :id => product do %>
				<%= submit_tag 'dodaj do koszyka' %>
			<% end %>
			</td>
		</tr>
	<% end %>
</table>

<p><%= link_to 'powrot', :back %></p>
<p><%= link_to 'strona glowna', :root %></p>