<!DOCTYPE html>
<html>
<head>
  <title>ShopApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= search_form_for Product.search(params[:q]), :url=>search_results_path do |f| %>
  <%= f.label( :name_cont, "nazwa") %>
  <%= f.text_field :name_cont %>

  <%= f.label( :description_cont, "opis") %>
  <%= f.text_field :description_cont %>
  <br>
  <%= f.label( :price_gteq, "cena od") %>
  <%= f.text_field :price_gteq , :style => 'width:70px;' %>
  <%= f.label( :price_lteq, "do") %>
  <%= f.text_field :price_lteq, :style => 'width:70px;' %>

  <%= f.submit "Search" %>
  <% end %>
<%= yield %>

<div class="span9">
    <% if notice %>
      <div class='alert alert-success'>
        <%= notice %>
      </div>
    <% end %>
	<% if alert %>
      <div class='alert alert-warning'>
        <%= alert %>
      </div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
